    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: poppins;
    }
    
    a {
        text-decoration: none;
    }
    
    ul {
        list-style: none;
    }
    
    #hero {
        background-color: #e4e8f8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 60px;
        position: fixed;
    }
    
    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: 90%;
        margin: 0px auto;
        padding: 20px 0px;
    }
    
    .logo {
        color: #122851;
        font-weight: 700;
        font-size: 1.4rem;
    }
    
    .logo span {
        background-color: #014dd5;
        color: #ffffff;
        padding: 0px 5px;
        border-radius: 5px;
        font-weight: 600;
        margin-right: 5px;
    }
    
    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: 40px;
    }
    
    .menu li a {
        margin: 0px 20px;
        color: #303030;
        font-weight: 500;
        transition: all ease 0.3s;
    }
    
    .menu li a:hover {
        color: #014dd5;
    }
    
    .nav-appointment-btn {
        height: 45px;
        padding: 0px 20px;
        border-radius: 4px;
        background-color: #014dd5;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 0.9rem;
    }
    
    .image {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .image img {
        width: 100%;
    }
    
    .content {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .content h1 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .list {
        list-style-type: disc;
        font-weight: 500;
    }
    
    .overview {
        display: flex;
    }
    
    .overview img {
        width: 500px;
        height: 400px;
    }
    
    .overview p {
        padding-right: 90px;
        color: rgb(41, 7, 7);
    }
    
    .footer {
        background: #062d75;
        text-align: center;
        height: 90px;
        padding-top: 35px;
    }
    
    .footer p {
        color: white;
    }