* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#hero {
    background-color: #1c2547;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 20px 0px;
}

.logo {
    color: #122851;
    font-weight: 700;
    font-size: 1.4rem;
}

.logo span {
    background-color: #014dd5;
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
}

.menu li a {
    margin: 0px 20px;
    color: #303030;
    font-weight: 500;
    transition: all ease 0.3s;
}

.menu li a:hover {
    color: #014dd5;
}

.nav-appointment-btn {
    height: 45px;
    padding: 0px 20px;
    border-radius: 4px;
    background-color: #014dd5;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.appointment-search-container {
    max-width: 1000px;
    width: 90%;
    background-color: #ffffff;
    padding: 15px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 16px 30px rgba(0, 0, 0, 0.12);
    z-index: 3;
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.appointment-search-container h3 {
    color: #122853;
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-align: center;
}

.appointment-search {
    display: grid;
    grid-template-columns: 1fr 1fr 60px;
    grid-gap: 10px;
}

.appo-search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7fbff;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
}

.appo-search-box i {
    color: #535353;
    margin-right: 10px;
}

.appo-search-box input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}

.appointment-search-box button {
    background-color: #014dd5;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.doctors {
    background-image: url("finddoc2.jpg");
    height: 600px;
}

.doctors h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.doctors h2 {
    text-align: center;
}

.footer {
    background: #062d75;
    text-align: center;
    height: 90px;
    padding-top: 35px;
}

.footer p {
    color: white;
}